<section class="footer">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner hm-layout-wrapper">
      <div class="footer__list mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop">
        <ul>
          <li><a href="#about">Hookamonk story</a></li>
          <li><a href="#features">Key features</a></li>
          <li><a href="#warp">I want Warp</a></li>
          <li><a href="#catering">Hookah catering</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer__list mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop">
        <ul>
          <li><a href="#testimonials">FAQ</a></li>
          <li><a href="https://shop.hookamonk.com/">Shop</a></li>
          <li><a href="https://www.animahookah.com/">Anima</a></li>
          <li><a href="https://shop.hookamonk.com/nebulla/">Nebulla</a></li>
          <li><a href="https://shop.hookamonk.com/accessories/">Accessories</a></li>
        </ul>
      </div>
      <div class="footer__contact mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
        <div class="footer__contact--name">
          <span itemprop="legalName"><b>Hookamonk s.r.o.</b></span>
          <p>Get in touch with us: <a href="mailto:sales@hookamonk.com">
              sales@hookamonk.com</a>
          </p>
        </div>
        <div class="footer__contact--address" itemprop="location" itemscope="" itemtype="https://schema.org/Place">
          <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            <a target="_blank"
               href="https://www.google.com/maps/place/TopMonks/@50.0453172,14.4891468,17z/data=!3m1!4b1!4m5!3m4!1s0x470b93b46cc7ec9b:0x39c7c65b1184183b!8m2!3d50.0453333!4d14.4913325" rel="noopener">
              <span itemprop="streetAddress">Struhařovská 2931/9</span><br>
              <span itemprop="addressLocality">Praha 4</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
