{% from 'macros/helpers.njk' import css, sprite %}

{% set page = 'hookamonk-catering' %}
{% set language = en %}

{% block title %}
  Hookamonk - Game changer in Hookah
{% endblock %}

{% block head %}
  <meta name="description"
        content="First fully electronic hookah for tobacco.">
  <meta name="twitter:description" property="og:description"
        content="First fully electronic hookah for tobacco.">
  <link rel="canonical" href="https://www.hookamonk.com/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@topmonks">
  <meta name="twitter:title" property="og:title" content="Game changer in hookah.">
  <meta name="twitter:image" property="og:image" content="https://www.hookamonk.com/og-image.jpg">
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.hookamonk.com/">
  <meta property="og:site_name" content="hookamonk.com">

{% endblock %}

{% block content %}
  {{ css("v2/typography") }}
  {{ css("v2/main") }}
  <section class="hm-intro">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <p class="title__prefix">Design anything, build everything</p>
          <h1>Game changer in hookah world</h1>
          <p class="title__suffix">First fully electronic hookah set for tobacco</p>
          <button class="button button__contained button__contained--dark">
            <a href="#about" class="button__label">Next</a>
          </button>
        </div>
      </div>
    </div>
  </section>
  {{ css("v2/catering") }}
  <section id="partners" class="hm-partners">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>These companies partnered with us to drive growth</h2>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="hm-about">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>Hookamonk story</h2>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
              <h3>Fringilla ipsum tincidunt</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque eu.</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
              <h3>Fringilla ipsum tincidunt</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque eu.</p>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        </div>
      </div>
    </div>
  </section>
  <section id="features" class="hm-features">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>Key features</h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Say goodbye to charcoals</h3>
          <p>Hookamonk is completely charcoal-less hookah. Tobacco is heated by spiral
            controlled by smart electronic device. No more dirty job and bad smell at
            your&nbsp;place.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Less staff needed</h3>
          <p>You need shishaman only to fill the bowl with tobacco. Hookamonk takes care
            of a pleasant smoking experience throughout the session without any external
            assistance needed.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Pay per use</h3>
          <p>You will pay us at the end of each month based on number of shishas served,
            no initial downpayments. We earn when you earn. You earn, when your customers
            enjoy smoking at your place. A&nbsp;truly win-win-win situation. Individual plans
            available.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>First electronic hookah</h3>
          <p>There is no e-liquid in hookamonk. You can use any tobacco you love and enjoy
            its clear&nbsp;taste.</p>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Complete set provided</h3>
          <p>Hookamonk consists of shisha box, computer and the electronic head with our
            patented shisha funnel. No other stuff needed, you can smoke in 15&nbsp;minutes
            after unpacking the device.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Lounge app</h3>
          <p>The Lounge App helps the lounge staff to manage Hookamonk devices. It
            features an overview of running table sessions, monitors session run time,
            maintenance status and allows to remotely control the hookahs.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Consistent and full taste</h3>
          <p>With hookamonk, the taste of tobacco remains full and constant during the
            whole session. No extra tweaking needed and even hookah beginner can shine with
            a delicious hookah.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>No burnt furniture</h3>
          <p>Charcoals can easily burn your precious club furniture. No more burn marks
            with Hookamonk.</p>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Smart inhale detection</h3>
          <p>Electronic head reacts to inhales. The tobacco is warmed only when you breath
            in, the just right temperature is intelligently kept otherwise. No more
            unpleasant sessions caused by bad charcoal management.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Intensity regulation</h3>
          <p>Whether you like your hookah stronger or smoother, you can change its
            intensity on display or in your mobile&nbsp;app.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Features updated automatically</h3>
          <p>Hookamonk is kept up to date thanks to connection to wifi. All of our devices
            are updated automatically on regular&nbsp;basis.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <h3>Mobile app</h3>
          <p>Mobile app for Android and iOS. You can use it to change intensity of your
            hookah or create a diary with your sessions.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="hm-testimonials">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="title__prefix">What they think</p>
          <h2>Testimonials</h2>
          <p class="hm-testimonials__content">“The Mastertheme team provides excellent support, listens to their users
            and continually works to improve their product.”</p>
        </div>
        <div class="facts mdc-layout-grid__cell">
          <span class="facts__number" title="Number of users">100+</span>
          <p class="facts__text">Components make any design stand out</p>
        </div>
        <div class="facts mdc-layout-grid__cell">
          <span class="facts__number" title="Number of users">68</span>
          <p class="facts__text">Components make any design stand out</p>
        </div>
        <div class="facts mdc-layout-grid__cell">
          <span class="facts__number" title="Number of users">43</span>
          <p class="facts__text">Components make any design stand out</p>
        </div>
      </div>
    </div>
  </section>
  <section id="warp" class="hm-warp">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>I want Warp</h2>
        </div>
        <div class="hm-warp__type hm-warp__type--b2b mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <h3>B2B</h3>
          <h4>Fringilla ipsum tincidunt</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus vestibulum
            scelerisque eu.</p>
          <button class="button button__contained button__contained--green">
            <a href="#" class="button__label">Next</a>
          </button>
        </div>
        <div class="hm-warp__type hm-warp__type--b2c mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <h3>B2C</h3>
          <h4>Fringilla ipsum tincidunt</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus vestibulum
            scelerisque eu.</p>
          <button class="button button__contained button__contained--orange">
            <a href="#" class="button__label">Next</a>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="hm-products">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>Other products</h2>
        </div>
        <div class="hm-product-type mdc-layout-grid__cell">
          <div class="hm-product-type__img">
          </div>
          <div class="hm-product-type__inner">
            <div class="hm-product-type__text">
              <h3>Amina</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque eu.Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="hm-product-type__link">
              <a href="#">More info</a>
            </div>
          </div>
        </div>
        <div class="hm-product-type mdc-layout-grid__cell">
          <div class="hm-product-type__img">
          </div>
          <div class="hm-product-type__inner">
            <div class="hm-product-type__text">
              <h3>Nebulla</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus.</p>
            </div>
            <div class="hm-product-type__link">
              <a href="#">More info</a>
            </div>
          </div>
        </div>
        <div class="hm-product-type mdc-layout-grid__cell">
          <div class="hm-product-type__img">
          </div>
          <div class="hm-product-type__inner">
            <div class="hm-product-type__text">
              <h3>Accessories</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque scelerisque eu.</p>
            </div>
            <div class="hm-product-type__link">
              <a href="#">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hm-catering">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          <p class="title__prefix">Design anything, build everything</p>
          <h2>Hookah catering</h2>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
              <h3>Fringilla ipsum tincidunt</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque eu.</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
              <h3>Fringilla ipsum tincidunt</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla ipsum tincidunt proin tellus
                vestibulum scelerisque eu.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {{ css("v2/footer") }}
  {% include "./v2/footer.njk" %}
{% endblock %}

