/* Background for Small Devices */


/* Typography */
h2 {
  font-size: 38px;
  font-weight: normal;
  line-height: 45px;
}

span, a {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  color: var(--mdc-theme--secondary);
}

/* Section: Intro */
.intro__box {
  padding: 2em 4em;
  p {
    color: var(--mdc-theme--primary);
  }
}

/* Map */
.contact__map:hover {
  cursor: pointer;
}
