/* Background for Small Devices */
@media (min-width: 840px) and (max-width: 1023px) {
  .intro__box {
    padding: 2em 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  .intro__box {
    padding: 10em 4em;
  }
}


// Investments' Filter //

.investments__filter {
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  padding: 14px 10px;
  svg {
    padding-right: 18px;
  }
  button {
    font: 20px proxima-nova, sans-serif;
    border: none;
    background: var(--mdc-theme--primary);
    &:not(:last-child){
      margin-right: 4em;
    }
  }
}

// List of Investments//
.box__logo {
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__text {
  h3.sub-title {
    margin-top: 1.458em;
    margin-bottom: 0.4166em;
  }
}

.box__info {
  line-height: 1.6;

  dt {
    color: var(--mdc-theme--secondary);
    font-weight: bold;
    opacity: 1;
    float: left;
    clear: right;

    &::after {
      content: ":";
      padding-right: 1ex;
    }
  }

  dd {
    clear: right;
  }
}
