/* Background for Small Devices */


@media (min-width: 540px) {
 .intro__box {
    padding: 1.5em 4em;
  }
}


/* Section: News */
.news_page {
  article {
    h3, h3 a {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      color: var(--mdc-theme--secondary);
      padding-right: 1em;
    }
    time {
      font-size: 18px;
      font-weight: normal;
      line-height: 32px;
      color: var(--mdc-theme--secondary);
    }

    p {
      font-size: 20px;
      line-height: 32px;
      opacity: 0.43;
      padding-right: 1em;
    }
  }

  .intro {
    margin-top: 3em;
    min-height: auto;
  }
}
