/* Background for Small Devices */

.transaction {
  h3, p {
    color: var(--mdc-theme--third);
  }
}

.box--dark {
  h3, p {
    color: var(--mdc-theme--primary);
  }
}

@media (min-width: 540px) {
  .column-1, .column-2 {
    max-width: 50vw;
    flex-grow: 1;
    display: flex;
  }
}
