{% from 'macros/helpers.njk' import css, spriteTarget %}
<footer id="contact" class="contact">
  <h2>Kontakt</h2>
  <div class="btn btn__email">
    <a class="action-button" href="mailto:securitylab@topmonks.com">securitylab@topmonks.com</a>
  </div>
</footer>
