{% from 'macros/helpers.njk' import css, sprite, spriteTarget %}
{{ css("header") }}
<header class="tm-app-bar">
  <div class="mdc-layout-grid tm-layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div
        class="header__logo mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <a href="/"
           title="Go to homepage">{{ sprite('logo-desktop', alt="Logo", viewBox="0 0 236 60") }}
        </a>
        <a class="tm-logo tm-logo--phone" href="/" title="Go to homepage">
          <img alt="[Logo] TopMonks Security Lab" src="/assets/icon/logo-phone.svg"/>
        </a>
      </div>

      <div class="btn btn__action mdc-layout-grid__cell mdc-layout-grid__cell--span-3-tablet">
        <a class="action-button" href="#">Chci od vás pomoc</a>
      </div>
      <div
        class="tm-hamburger mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop">
        <div class="tm-hamburger__container">
          <div class="tm-hamburger__bar"></div>
          <div class="tm-hamburger__bar"></div>
          <div class="tm-hamburger__bar"></div>
        </div>
      </div>
    </div>
  </div>
  <nav id="navigation" class="tm-menu">
    <ul class="tm-menu__list">
      <li><a href="/" title="Go to homepage">Home</a></li>
      <li><a href="#section__hardware">Hardware</a></li>
      <li><a href="#section__software">Software</a></li>
      <li><a href="#section__social">Social Engineering</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <script>
    var appBar = document.querySelector(".tm-app-bar");
    var hamburger = document.querySelector(".tm-hamburger__container");
    var menu = document.querySelector(".tm-menu");
    hamburger.addEventListener("click", toggleMenu(hamburger));

    function toggleMenu(hamburger) {
      return function() {
        hamburger.classList.toggle("tm-hamburger__container--open");
        appBar.classList.toggle("tm-app-bar--open");
      };
    }

    // var lastPosition = 0;
    // var ticking = false;
    // document.addEventListener("scroll", function() {
    //   lastPosition = window.scrollY;
    //   if (!ticking) {
    //     window.requestAnimationFrame(function() {
    //       if (lastPosition > 0) {
    //         appBar.classList.add("tm-app-bar--sticky");
    //       }
    //       else {
    //         appBar.classList.remove("tm-app-bar--sticky");
    //       }
    //       ticking = false;
    //     });
    //     ticking = true;
    //   }
    // });

  </script>
</header>
