{% from 'macros/helpers.njk' import css, sprite, spriteTarget %}
{{ css("header") }}

<header>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <nav class="navbar mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="mdc-layout-grid__inner">
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <a class="logo--desktop" href="/"
               title="Go to homepage">{{ sprite('logo-desktop', alt="Logo", viewBox="0 0 236 60") }}
            </a>
            <a class="logo--phone" href="/"
               title="Go to homepage">{{ sprite('logo-phone', alt="Logo", viewBox="0 0 800 800") }}
            </a>

          </div>
          <div
            class="menu mdc-layout-grid__cell mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-5-desktop">
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="#security-field__hardware" class="nav-link">Hardware</a>
              </li>
              <li class="nav-item">
                <a href="#security-field__software" class="nav-link">Software</a>
              </li>
              <li class="nav-item">
                <a href="#security-field__social" class="nav-link">Social Engineering</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link">Kontakt</a>
              </li>
            </ul>
          </div>
          <div class="button mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="btn btn__action">
              <a href="#contact">Chci od vás pomoc</a>
            </div>
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
        <script>
          const hamburger = document.querySelector(".hamburger");
          const navMenu = document.querySelector(".nav-menu");

          hamburger.addEventListener("click", () => {
            hamburger.classList.toggle("active");
            navMenu.classList.toggle("active");
          });

          document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
            hamburger.classList.remove("active");
            navMenu.classList.remove("active");
          }));
        </script>
      </nav>
    </div>
  </div>
</header>
