.footer {
  content-visibility: auto;
  background: linear-gradient(
    to bottom right,
    #7278DF 0,
   #BB9EAA 78%
  );
  color: #fff;
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
  }
  ul {
    padding-left: 0;
    li {
      display: block;
      padding-left: 0;
      list-style: none;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
      text-decoration:underline;
    }
    @media screen and (max-width: 479px) {
      display: inline-block;
      padding: 4px 0;
      margin: 4px 0;
    }
  }
  .social-buttons {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 52px;
    display: inline-block;
    margin-top: 14px;
    a {
    display: inline-block;
    height: 32px;
    margin: 0;
    &:first-child{
      padding-left: 6px;
    }
    &:last-child {
      padding-right: 6px;
    }
    @media screen and (max-width: 339px) {
      padding: 4px 8px 0;
    }
    @media screen and (min-width: 340px) {
      padding: 4px 12px 0;
    }
  }
}
@media screen and (min-width: 840px) {
  .footer_social-buttons {
    text-align: right;
  }
}
}
