// HEADER //
.tm-logo {
  font-family: Futura, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2c49;
  @media screen and (max-width: 479px) {
    font-size: 24px;
    padding-top: 2px;
    justify-content: flex-end;
  }
  @media screen and (max-width: 839px) {
    font-size: 24px;
    padding-top: 2px;
    justify-content: flex-end;
    color: #ffffff;
  }

  .monk {
    fill: currentColor;
    padding-right: 6px;
  }
}

.caffe_menu {
  align-self: center;
  justify-self: end;
}

.tm-hamburger {
  @media screen and (min-width: 840px) {
    display: none;
  }
  padding-top: 8px;
  display: flex;
  align-items: center;

  .tm-hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
  }

  .tm-hamburger__container::after {
    content: "menu";
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    top: 6px;
    left: 36px;
  }

  .tm-hamburger__bar {
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;

    &:first-of-type {
      transform: translateY(-6px);
    }

    &:last-of-type {
      transform: translateY(6px);
    }
  }

  .tm-hamburger__container--open {
    .tm-hamburger__bar:first-of-type {
      transform: rotate(-45deg);
      background-color: #ffffff;
    }

    .tm-hamburger__bar:nth-of-type(2) {
      opacity: 0;
      background-color: #ffffff;
    }

    .tm-hamburger__bar:last-of-type {
      transform: rotate(45deg);
      background-color: #ffffff;
    }
  }
}

.tm-app-bar {
  width: 100vw;
  z-index: 1000;
  transition: all 0.2s;
  top: 0;
  align-self: center;
  height: 70px;
  @media screen and (max-width: 839px) {
    position: fixed;
    background-color: #2e2c49;
  }
  @media screen and (min-width: 840px) {
    padding: 16px 0;
    svg {
      padding-right: 4px;
    }
  }
}

.tm-app-bar.tm-app-bar--open {
  @media screen and (max-width: 839px) {
    position: fixed;
    .tm-hamburger__container::after {
      color: #ffffff;
      vertical-align: center;
    }
    .tm-hamburger__bar {
      background-color: #2e2c49;
    }
    .tm-menu__list {
      display: inline-grid;
      width: 100%;
      background: linear-gradient(to right, #2e2c49 0, #444076 50%);
      padding: 18px 0;
      margin-top: 10px;

      a {
        color: white;
        text-align: left;
      }
    }
  }
  @media (max-width: 639px) {
    .tm-menu {
      transform: translate(-300px, -64px);
      z-index: -1;
    }
  }
  @media (min-width: 640px) and (max-width: 839px) {
    .tm-menu {
      transform: translate(-500px, -64px);
      z-index: -1;
    }
  }
}

.tm-menu {
  @media screen and (min-width: 1024px) {
    a {
      font-weight: 600;
    }
    a:hover {
      transform: translateY(-7px);
    }
    li {
      transition: all 0.3s ease 0s;
      &:hover {
        transform: translateY(8px);
      }
    }
  }
  @media screen and (max-width: 839px) {
    width: 100vw;
    height: 100vh;
    padding-top: 46px;
    transform: translate(calc(-140vw - 12px), -64px);
    transform: translate(calc(-190vw - 12px), -64px);
    position: fixed;
    z-index: 3;
    transition: transform 0.3s;
    overflow: hidden;
    background-color: var(--tm-secondary);

    .tm-menu__list li {
      margin-left: 24px;
    }
    .tm-menu__list li + li {
      border-top: 1px solid rgba(45, 61, 144, 0.5);
    }
    .tm-menu__list a {
      font-weight: 600;
      display: block;
      padding: 12px;
      margin: 4px;
      text-transform: capitalize;
      text-decoration: none;
    }
  }
  @media (max-width: 1024px) {
    a {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.tm-menu--horizontal .tm-menu__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  line-height: 32px;
}

.tm-menu--horizontal .tm-menu__list a {
  display: inline-block;
  padding: 4px 8px;
}

.tm-text--margin-top {
  margin-top: 16px;
}
