@import "@material/layout-grid/mdc-layout-grid";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  color: #fff;
  background:linear-gradient(
    to right,
    #2E2C49 0,
    #444076 90%
  );

  @media (min-width: 1724px) {
    background: url("/images/caffe-bgnd.png") top no-repeat;
    background-size: 100% 5.5%;
  }
  @media (min-width: 1500px) and (max-width: 1723px) {
    background: url("/images/caffe-bgnd.png") top no-repeat;
    background-size: 100% 6.5%;
  }
  @media (min-width: 1024px) {
    .tm-layout-wrapper {
      padding: 0 12%;
    }
  }
  @media (max-width: 840px) {
    background-size: auto;
    .tm-layout-wrapper {
      padding: 0 6%;
    }
  }
}

section {
  @media screen and (min-width: 1024px) {
    margin: 3em 0;
  }
  @media (max-width: 1023px) {
    margin: 1em 0;
  }
}

img.responsive {
  width: 100%;
  height: auto;
}

.screen-reader-shortcut{
  position: absolute;
  top: -1000em;
  &:focus {
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: #f06b4f;
    color: #FFFFFF;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 2px 10px 23px rgb(92 95 255 / 10%);
  }
}

.prefix {
  font-weight: 600;
  color: #B7BBC8;
  margin-bottom: 0;
  text-transform: uppercase;
}

//* Section: Introduction*//

#introduction {
  padding: 2em 0;
  color: #ffffff;
  @media (max-width: 839px) {
    padding: 5em 1em 2em;
  }
  p {
    color: #B7BBC8;
  }
  a.link {
    text-decoration: none;
    color: var(--topmonks-caffe-pink);
    &:hover {
      color: #ffffff;
    }
    svg {
      vertical-align: middle;
    }
  }
}

//* Section: Next event *//

#next-event {
  color: #ffffff;
  .next-caffe_box {
    padding: 2em 5em 3em;
    background: linear-gradient(
      to bottom right,
      #7278DF 0,
     #BB9EAA 78%
    );
    border-radius: 34px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

    h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 6px;
    }
    span, a {
      font-size: 20px;
      font-weight: 500;
    }
    @media (max-width: 839px) {
      padding: 2em;
      h3 {
        font-size: 1.5em;
      }
      span {
        font-size: 1.4em;
      }
    }
  }

  .btn {
    box-shadow: 0px 15px 20px rgba(126, 104, 159, 0.4);
    margin-top: 2em;
    a {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 881px) {
    padding: 0 12%;
  }
}

//* Section: What is TM caffé*//

#about-caffe {
  padding: 4em 0 2em;
  text-align: center;
  p {
    max-width: 900px;
    margin: 0 auto;
  }
}
//* Section: Seance *//
#seance {
  padding: 4em 0;
  .seance__box {
    display: flex;
    flex-direction: column;
    background-color: #4B467D;
    border-radius: 24px;
    padding: 24px 24px 12px;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 24px;
    }
    h4 {
      font-size: 1.75em;
      margin-top: 0;
    }

    .seance__date {
      color: #B5ACEE;
      font-weight: 600;
    }
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.06);
    }
}
}
//* Section: Become a speaker! *//
#speakers {
  padding: 4em 0;
  .speakers__box {
    display: contents;
      align-content: space-evenly;
    .speakers__box--content {
      display: inline-flex;
    span {
      padding-right: 20px;  
      align-self: center;
      }
    }
  }
  p {
    color: #B7BBC8;
  }
  .btn--fill:hover {
    background-color: transparent;
    border-color: #fff;
    a {
      color: #fff;
    }
}
}

///* MD GRID DESKTOP BREAKPOINT*/
//@media (min-width: 840px) {
//}

//* MD GRID TABLET AND ABOVE BREAKPOINT *//
@media (min-width: 480px) {
  body {
    font-size: 1.125em; //18px
  }
  h1 {
    font-size: 3em; //48px
    line-height: 1.5em; //24px
  }
  h2 {
    font-size: 1.8em; //32px
    line-height: 1.4;
  }
  h3 {
    font-size: 1.5em; //24px
  }
  h4 {
    font-size: 1.111em; //20px
  }
}

@media (max-width: 840px) {
  p {
    font-size: 1.111em; //20px
  }
}

nav {
  .active {
    color: var(--nav-active);
    font-weight: bold;
  }
}
