:root {
  --topmonks-caffe-orange: #f06b4f;
  --topmonks-caffe-pink: #f64060;
  --topmonks-caffe-dark_blue: #233341;

  --tm-btn-transition: all 200ms ease-in-out;
}

/*
http://pxtoem.com/ - how to count px to em
*/

.tm-logo {
  font-family: Futura, futura-pt, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  @media (min-width: 2200px) {
    svg {
      width: 300px;
      height: 100px;
    }
  }
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.4em;
  margin: 8px 0;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 18px 0;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

p {
  font-size: 1.125em; //18px
  font-weight: normal;
  line-height: 1.75em; //28px
}

a {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

@media (max-width: 839px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 1840px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 2.25em;
  }

  h4,
  p,
  span {
    font-size: 1.75em;
  }
}

body {
  .btn {
    cursor: pointer;
    border: 2px solid;
    border-radius: 100px;
    width: fit-content;
    transition: var(--tm-btn-transition);

    @media screen and (min-width: 840px) {
      padding: 14px 36px;
    }
    @media (max-width: 839px) {
      font-size: 1em;
      padding: 10px 18px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    a {
      font-weight: 500;
      color: #fff;
    }
  }

  .btn--fill {
    background-color: #5a42cc;
    border-color: #5a42cc;
    &:hover {
      background-color: transparent;
      border-color: #5a42cc;
      a {
        color: #5a42cc;
      }
    }
  }

  .btn--outlined {
    background-color: transparent;
    border-color: #fff;
  }

  ul,
  ul li {
    padding: 0;

    a {
      color: #ffffff;
    }
  }

  ul {
    margin: 1em 0;
  }

  ul li {
    list-style: none;
    margin: 0;
    font-size: 16px;
    @media (min-width: 2200px) {
      font-size: 24px;
    }
    @media screen and (min-width: 840px) {
      padding: 4px 14px;
    }
  }

  #navigation li {
    display: inline-block;
  }

  ul#navigace {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    a {
      font-size: 1.125em;
      padding: 4px 8px;

      &:hover {
        border-bottom: 1.4px solid var(--topmonks-caffe-orange);
      }
    }
  }
}

///* MD GRID DESKTOP BREAKPOINT*/
//@media (min-width: 840px) {
//}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
