{% macro sprite(id, altText, viewBox, classes, ariaHidden) %}
{% set viewBox = viewBox or "0 0 1 1"%}
<span class='sprite sprite--{{id}} {{classes}}' {% if ariaHidden %}aria-hidden='{{ ariaHidden }}'{% endif %}>
  <svg viewBox="{{viewBox}}">
    <title>{{altText}}</title>
    <use xlink:href='#{{id}}'></use>
  </svg>
</span>
{% endmacro %}

{% macro spriteTarget() %}
<div style="width: 0; height: 0; visibility: hidden">
  <!-- inject:svg --><!-- endinject -->
</div>
{% endmacro %}

{% macro css(stylesheet) -%}
<link rel="stylesheet" href="{{ '/assets/css/' ~ stylesheet ~ '.css' }}">
{%- endmacro %}
