.footer {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 2em 0 6em;

  p {
    font-size: 18px;
    margin: 0.5em 0 2em;
  }

  svg {
    margin-bottom: 2em;
    @media (max-width: 539px) {
      width: clamp(10rem, 14vw, 17rem);
      height: auto;
    }
  }

  .navigation {
    nav {
      padding: 0;

      ul {
        padding: 0;
        list-style: none;

        li {
          padding-bottom: 1em;

          a {
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0.24em;
            color: var(--primary);
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
