:root {
  --primary: #fff;
  --secondary: #171717;

  --grey: #4F4F4F;
  --dark-grey: #333333;
  --light-grey: #F2F2F2;
}

body {
  background: linear-gradient(73.63deg, #E30D7F -18.26%, #0B050F 44.46%, #2A2962 100.96%);
  color: var(--primary);
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: 'Inter', sans-serif;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

h1, h2 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-family: Inter, sans-serif;
}

.title__prefix {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
  }
  h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  p {
    font-size: 22px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1023px) {
  li {
    font-size: 18px;
  }
}

// Button
.wrapper {
  padding: 1.5rem 0;
  filter: url('#goo');
}

.button {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--dark-grey);
  background: var(--primary);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.18em 1.82em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--primary);
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}

//
