:root {
  --primary: #fff;
  --secondary: #171717;

  --grey: #4F4F4F;
  --dark-grey: #333333;
  --light-grey: #F2F2F2;

  --purple: #9948FF;
}

body {
  color: var(--primary);
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: 'Inter', sans-serif;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.prefix {
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.suffix {
  max-width: 760px;
  margin: 0 auto;
}

.gradient--text {
  background: linear-gradient(73.63deg, #E30D7F -18.26%, #0B050F 44.46%, #2A2962 100.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  @media (max-width: 539px) {
    font-size: 64px;
    line-height: 66px;
    margin-top: 0;
  }
}

h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  @media (max-width: 539px) {
    font-size: 60px;
    line-height: 62px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  @media (max-width: 539px) {
    line-height: 28px;
  }
}

p {
  font-size: 22px;
  line-height: 35px;
  @media (max-width: 539px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
  }
}


a {
  font-family: Inter, sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  li {
    font-size: 18px;
  }
}

// Button
.wrapper {
  padding: 1.2em 0;
  filter: url('#goo');
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: var(--dark-grey);
  background: var(--primary);
  text-decoration: none;
  display: inline-block;
  padding: 1.18em 3em 1.03em;
  border-radius: 6px;
  position: relative;
  min-width: 8.23em;
  @media (max-width: 439px) {
    padding: 20px 0;
    width: 100%;
  }
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--primary);
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}

//
