header {
  background-color: var(--mdc-theme--primary);
  border-bottom: 1px solid #F2F2F2;
  ul {
    li {
      list-style: none;

      a {
        font-size: 24px;
        color: var(--mdc-theme--primary);
        text-decoration: none;
        @media (max-width: 539px) {
          font-size: 18px;
        }
      }
    }
  }

  .logo, .button, .navigation {
    align-self: center;
  }
  .logo {
    @media (min-width: 740px) {
      .logo--phone {
        display: none;
      }
    }
    @media (max-width: 739px) {
      width: 56px;
      height: 56px;
      .logo--desktop {
        display: none;
      }
    }
  }

  .button {
    text-align: right;
    @media (max-width: 739px) {
      display: none;
    }
  }

  .navbar {
    align-items: center;
    .nav-menu {
      display: flex;
      align-items: center;
      padding: 8em 0 3em;
      position: fixed;
      left: -100%;
      top: 0;
      gap: 60px;
      flex-direction: column;
      background: linear-gradient(114.54deg, #45108A 2.67%, #3D065F 29.36%, #10054D 98.58%);
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: 0.3s;
      margin-top: 0;
      z-index: 100;

      .nav-item {
        .nav-link {
          margin: 20px 0;
          padding: 14px 24px;
          transition: 0.7s ease;
          border-radius: 30px;
          border: 2px solid transparent;

          &:hover {
            border: 2px solid var(--mdc-theme--primary);
          }
        }
      }
      &.active {
        left: 0;
      }
    }
    .btn__action {
      a {
        font-size: 18px;
      }
    }

      .hamburger {
        display: block;
        cursor: pointer;
        background: var(--mdc-theme--secondary);
        width: 56px;
        height: 56px;
        border-radius: 30px;
        z-index: 100;
        .bar {
          display: block;
          width: 25px;
          height: 2px;
          margin: 5px auto;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          border-radius: 4px;
          background-color: var(--mdc-theme--primary);
          &:first-of-type {
            margin-top: 18px;
          }
      }
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}



