@import "@material/layout-grid/mdc-layout-grid";
@import "@topmonks/shared/common/colors";


// Layout //
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

.tm-layout-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

img, svg {
  width: 100%;
  height: auto;
}

// Main //
// Intro //

.intro {
  .intro__img {
    svg {
      margin-top: 2em;
    }
  }

  .btn__action {
    margin: 2em 0;
  }
}

.section-menu {
  margin: 4em auto 2em !important;
  padding: 6px;
  border-radius: 30px;
  box-shadow: 0 12px 10px 0 #2B06540F;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
  }

  li {
    padding: 12px 28px;
  }

  li.menu--active {
    font-weight: 700;
    color: #FFFFFF;
    background-image: var(--mdc-theme--on-primary);
    border-radius: 30px;
  }

  @media (max-width: 539px) {
    box-shadow: none;
    margin: 2em auto 0 !important;
    li.menu--inactive {
      display: none;
    }
  }
}

.security-fields__cell {
  background-image: var(--mdc-theme--on-primary);
  border-radius: 10px;
  padding: 8px 20px;
  margin-bottom: 14px;

  p {
    color: var(--mdc-theme--primary);
    margin: 8px auto;
  }
}

.security-fields__btn {
  a {
    font-size: 24px;
    text-decoration: none;
  }
}

// Contact //
.contact {
  margin: 6em 0 10em;

  h2 {
    font-size: 24px;
  }
}

/// ANOTHER
.tabs, .tabs2 {
  #tabs_ul {
    li {
      width: 50%;
      @media (max-width: 539px) {
        width: fit-content;
      }
    }
  }

  #tabs_ul2 {
    li {
      width: fit-content;
    }
  }

  ul {
    list-style: none;
    padding: 0 0 12px 0;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 2px solid var(--mdc-theme--primary-grey);
  }

  li {
    transition: all 0.3s ease;
    margin-right: 40px;
    color: var(--mdc-theme--primary-dark-grey);

    & > ::before {
      content: ">";
      // content: url("/assets/css/tab-inactive.svg");
      display: inline-block;
      width: 27px;
      height: 27px;
    }

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      margin-right: 0;
    }

    p {
      font-size: 24px;
    }

    @media (max-width: 539px) {
      margin-right: 0;
      p {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  li.active, li.active2 {
    background: var(--mdc-theme--on-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid var(--mdc-theme--third);
    margin-bottom: -14px;
    width: 50%;

    & > ::before {
      content: "@";
      // content: url("/assets/css/tab-active.svg");
      display: inline-block;
      width: 27px;
      height: 27px;
    }

    p {
      font-weight: bold;
    }
  }
}



