@import "@material/layout-grid/mdc-layout-grid";
@import "@topmonks/shared/common/colors";

// Layout //
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
  --mdc-layout-grid-margin-tablet: 32px;
}

html {
  scroll-behavior: smooth;
}

.tm-layout-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}


// Intro //
.intro {
  align-self: center;

  .intro__img {
    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 839px) {
      display: none;
    }
  }

  .btn__action {
    margin: 2em 0;
  }

  .sub-title {
    svg {
      margin-bottom: -6px;
      @media (max-width: 539px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media screen and (min-width: 840px) {
    padding-top: 4em;
  }
  @media (max-width: 539px) {
    .btn__action {
      text-align: center;
    }
  }
}

.security-field__title {
  border-radius: 10px;
  background-color: var(--mdc-theme--primary);

  h2 {
    margin: 0;
  }

  @media (min-width: 540px) {
    padding: 24px 32px;
  }
}

// Section sliding menu
.content-menu {
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  .tab--active {
    display: flex;
    height: 54px;
    width: 200px;
    background-image: var(--mdc-theme--on-primary);

    a {
      color: var(--mdc-theme--primary);
    }
  }

  .tab--inactive {
    &:hover, &:active {
      box-shadow: 0 0 0 2px var(--mdc-theme--third);
      transition: all 0.7s ease-in-out;
    }

    a:active {
      color: var(--mdc-theme--third);
    }

    @media (max-width: 739px) {
      display: none;
    }
  }

  @media screen and (min-width: 740px) {
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    padding: 0.75rem;
    border-radius: 99px; // just a high number to create pill effect
  }
}

.content-menu__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  margin: 0 10px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

@media (max-width: 700px) {
  .content-menu {
    transform: scale(0.6);
  }
}

.security-field__content {
  margin: 1em 0 3em;
}

.security-field__bg {
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 840px) {
    padding-top: 2em;
  }
}

.security-field__cell {
  background-image: var(--mdc-theme--on-primary);
  border-radius: 10px;
  padding: 8px 20px;

  p {
    color: var(--mdc-theme--primary);
    margin: 8px auto;
  }
}

#security-field__software, #security-field__social {
  .security-field__cell {
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 839px) {
  .order-1 {
    -webkit-order: 1; /* Safari 6.1+ */
    order: 1;
  }
  .order-2 {
    -webkit-order: 2; /* Safari 6.1+ */
    order: 2;
  }
}

.security-field__btn {
  a {
    font-size: 24px;
    text-decoration: none;
  }
}

// Contact //
.contact {
  margin: 6em 0 10em;

  h2 {
    font-size: 24px;
  }
}

/// ANOTHER
.tabs, .tabs2 {
  #tabs_ul {
    li {
      width: 50%;
      @media (max-width: 539px) {
        width: fit-content;
      }
    }
  }

  #tabs_ul2 {
    li {
      width: fit-content;
      @media (max-width: 539px) {
        width: 33%;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0 0 12px 0;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 2px solid var(--mdc-theme--primary-grey);
  }

  li {
    margin-right: 40px;
    color: var(--mdc-theme--primary-dark-grey);
    transition: all 0.35s ease-in-out;
    @media screen and (min-width: 540px) {
      & > ::before {
        background-image: url("#tab-inactive") !important;
        display: inline-block;
        width: 27px;
        height: 27px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      margin-right: 0;
    }

    p {
      font-size: 24px;
    }

    @media (max-width: 539px) {
      margin-right: 0;
      p {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  li.active, li.active2 {
    background: var(--mdc-theme--on-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid var(--mdc-theme--third);
    margin-bottom: -14px;
    width: 50%;
    @media screen and (min-width: 540px) {
      & > ::before {
        background-image: url("#tab-active");
        display: inline-block;
        width: 27px;
        height: 27px;
      }
    }

    p {
      font-weight: bold;
    }
  }
}


@media screen and (min-width: 1440px) {
  .tab_content, .tab_content2 {
    width: 606px;
  }
  #tabs_ul, #tabs_ul2 {
    position: relative;
  }
  .content, .content2 {
    position: absolute;
  }
}

@media (min-width: 840px) {
  .tabs {
    min-height: 840px;
  }
  .tabs2 {
    min-height: 700px;
  }
}






