@font-face {
  font-family: "SF Pro";
  src: local("SF Pro"),
  url("/assets/css/SF-Pro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src: local("PT Mono Bold"),
  url("/assets/css/SF-Pro-bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


// Colors //
:root {
  --mdc-theme--primary: #FFFFFF;
  --mdc-theme--primary-grey: #E0E0E0;
  --mdc-theme--primary-dark-grey: #828282;

  --mdc-theme--on-primary: linear-gradient(to bottom right, #45108A, #3D065F, #10054D);
  --mdc-theme--secondary: linear-gradient(102.49deg, #1504B2 -1.28%, #CC00B6 50.41%, #A01FD1 104.29%);
  --mdc-theme--third: #45108A;
}

// Body typography //
body {
  font-style: normal;
  background-color: var(--mdc-theme--primary);
  letter-spacing: 0;
  font: 18px/1.5 "SF Pro";
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  margin: 0;
}

// Font-size typography //
h1, h2, h3, p.sub-title {
  background: var(--mdc-theme--on-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  a {
    color: var(--mdc-theme--primary);
    background-image: var(--mdc-theme--on-primary);
  }
}

.btn__action {
  a {
    text-decoration: none;
    border-radius: 30px;
    padding: 16px 60px;

    &:hover {
      color: var(--mdc-theme--third);
      background-image: none;
      border: 2px solid var(--mdc-theme--third);
    }
  }
}

.btn__email, .btn__hamburger {
  text-align: center;

  a {
    border-radius: 10px;
    padding: 12px 40px;

    &:hover {
      color: var(--mdc-theme--third);
      background-image: none;
      border: 2px solid var(--mdc-theme--third);
    }
  }
}

@media screen and (min-width: 540px) {
  h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 76px;
    margin-bottom: 14px;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    padding: 14px 32px;
    background-color: var(--mdc-theme--primary);
    border-radius: 10px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }

  p.sub-title {
    font-size: 34px;
    font-weight: 274;
    line-height: 44px;
    margin-top: 0;

    &:before {
      content: url("/assets/css/security-icon.svg");
      display: inline-block;
      width: 34px;
      height: 34px;
    }
  }

  p, a, li {
    font-size: 18px;
    font-weight: 510;
    line-height: 30px;
  }
}

@media (max-width: 539px) {
  h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    margin-bottom: 14px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding: 14px 32px;
    border-radius: 10px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }

  p.sub-title {
    font-size: 22px;
    font-weight: 274;
    text-align: center;
    line-height: 26px;
    margin-top: 0;

    &:before {
      content: url("/assets/css/security-icon.svg");
      display: inline-block;
      width: 34px;
      height: 34px;
    }
  }

  p, a, li {
    font-size: 16px;
    font-weight: 510;
    line-height: 22px;
  }

  .btn__action, .btn__email {
    a {
      padding: 16px 20px;
    }
  }
}
