// Catering Page //
@media (max-width: 839px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 840px) {
  img.optimalization {
    width: 100%;
    height: auto;
  }
}

// Section 1: Introduction AKA Header Info //
.hm-intro {
  position: relative;
  background-image: cloudinaryUrl("hookamonk.com/bg_header-smoke-5.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: 2000px) {
    padding: 8em 0;
  }
  @media (min-width: 2001px) {
    padding: 16em 0;
  }
  .hm-intro__header-bg {
    @media (max-width: 539px) {
      margin: 38px 0;
    }
    picture {
      z-index: 100;
    }
  }
}

//
// Section 2: Partners //
.hm-partners {
  text-align: center;
  background-color: var(--hm-bg--light);

  h2 {
    font-size: 28px;
    line-height: 30px;
  }

  .hm-partners__logo {
    svg {
      padding: 0 1em;
    }
  }
}

//
// Section 3: About AKA HM Story
.hm-about {
  background-image: cloudinaryUrl("hookamonk.com/bg_story-smoke.jpg");
  background-color: var(--hm-bg--light);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;

  .hm-about__text {
    align-self: center;
  }
}

//
// Section 4: Features
.hm-features {
  text-align: center;

  .hm-features__content {
    background: linear-gradient(to left, #2B96A8 0%, #C22C2D 105.45%);
    h3 {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .material-icons {
    align-self: center;
    border-radius: 0;
    margin-bottom: 0;

    svg {
      padding: 0 10px 0;
    }
  }

  .material-icons--neutral {
    box-shadow: none;
    background-color: transparent;
  }
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  display: inline-flex;
  text-align: left;
}

.wrap-collabsible {
  background-color: #FFF;
  padding: 14px 10px 24px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  .lbl-toggle {
    display: block;
    text-align: left;
    cursor: pointer;
    transition: all 0.25s ease-out;
    svg {
      position: absolute;
      bottom: 1%;
      left: 40%;
    }
  }
  @media screen and (max-width: 840px) {
    padding: 28px 12px 48px;
    .lbl-toggle svg {
      position: absolute;
      bottom: 5%;
      left: 40%;
    }
  }
}

input[type='checkbox'] {
  display: none;
}


.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
  transition: max-height 1s ease-in-out;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  svg {
    transform: rotate(180deg);
    transition: all 0.45s;
  }
}

.collapsible-content .content-inner {
}

//
// Section 5: Testimonials
.hm-testimonials {
  color: var(--hm-white);
  text-align: center;
  background-color: var(--hm-grey--dark);
  @media (max-width: 1024px) {
    img {
      max-width: 200px;
    }
  }

  .hm-testimonials__content {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: var(--hm-white);
    max-width: 740px;
    margin: 1em auto;
  }

  .hm-testimonials__logo {
    margin-bottom: 3em;

    svg {
      padding: 0 1em;
    }
  }

  .facts {
    .facts__number {
      font-size: 68px;
      font-weight: 700;
      line-height: 80px;
    }

    .facts__text {
      color: var(--hm-grey--lighter);
    }
  }
}

//
// Section 6: Warp
.hm-warp {
  text-align: center;

  .hm-warp__type {
    text-align: left;
    border-radius: 10px;
    @media (max-width: 839px) {
      padding: 38px 18px;
    }
    @media (min-width: 840px) {
      padding: 3em 3em 4em;
    }

    h3,
    h4,
    p {
      color: var(--hm-white);
      margin-bottom: 0;
    }

    button {
      margin-top: 2em;
    }
  }

  h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
  }


  @media (max-width: 839px) {
    h3 {
      font-size: 34px;
      font-weight: 700;
      line-height: 44px;
    }
  }
  @media (max-width: 1139px) {
    .hm-warp__type--b2b {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2b-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hm-warp__type--b2c {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2c-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hm-warp__type--b2d {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2d-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  @media screen and (min-width: 1140px) {
    .hm-warp__type--b2b {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2b-3.jpg");
      /*background-size: auto 100%;*/
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hm-warp__type--b2c {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2c-3.jpg");
      /*background-size: auto 100%;*/
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hm-warp__type--b2d {
      background-image: cloudinaryUrl("hookamonk.com/bg_warp-b2d-3.jpg");
      /*background-size: auto 100%;*/
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

//
// Section 7: Other Products
.hm-products {
  background-color: var(--hm-bg--light);

  .title {
    text-align: center;
  }

  .hm-product-type {
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    .hm-product-type__link {
      padding-top: 1em;

      a {
        font-size: 18px;
        font-weight: 600;
        color: var(--hm-grey--dark);
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: var(--hm-orange);
          transition: all 0.3s;
        }
      }
    }
  }

  .hm-product-type__inner {
    flex-grow: 1;
    justify-content: space-between;
    padding: 1.5em 2em 2em;
  }

  .hm-product-type,
  .hm-product-type__inner {
    display: flex;
    flex-direction: column;
  }
}

//
// Section 8: Hookah Catering
