h2 {
  font-weight: 600;
}

.for-home-intro {
  h1 {
    font-weight: bold;
  }
  ul {
    list-style: none;
    li {
      color: var(--hm-white);
      line-height: 36px;
    }
  }
}

.hm-warp {
  p {
    max-width: 780px;
    margin: 0 auto;
  }
}

@media (max-width: 539px) {
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
}
